*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    text-align: right;
    display: flex;
}

.navbar img{
    width: 96px;
    height: 36px;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 20px;
    justify-content: space-between;
}


.navbar ul li a{
    text-decoration: none;
    color: #4B5563;
    font-size: 16px;
    
    font-weight: 500;
    font-family: "inter";
}

.navbar ul li button{
    background-color: #111827;
    color: #F9FAFB;
    width: 104px;
    height: 24px;
    line-height: 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}


.navbar ul li img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.container{
    justify-content: space-between;
    padding: 96px 80px 96px 80px;
}
.profile{
    display: flex;
    padding: 0px 32px 0px;
}

.column1{
    width: 768px;
    height: 360px;
    gap: 48px;
}
.column1 h1{
    width: 418px;
    height: 72px;
    font-family: "inter";
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -2%;
}

.column1 p{
    width: 768px;
    height: 72px;
    color: #4B5563;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.location{
    display: flex;
    width: 768px;
    height: 24px;
    gap: 8px;
    padding-top: 20px;
    
}
.location p{
    width: 137px;
    height: 24px;
    color: #4B5563;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.location img{
    width: 24px;
    height: 24px;
    color: #4B5563;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.other{
    display: flex;
    gap: 8px;
    width: 227px;
    height: 24px;
    padding-top: 20px;
}

.other p{
    width: 195px;
    height: 24px;

}


.other img{
    width: 8px;
    height: 8px;
    border-radius: 20px;
}

.links{
    width: 768px;
    height: 36px;
    gap: 16px;
    display: flex;
    padding-top: 20px;
}

.links button{
    width: 36px;
    height: 36px;
    padding: 6px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: none;
}

.links img{
    width: 24px;
    height: 24px;
    size: 24px;
}


.column2{
    width: 400px;
    height: 360px;
}

.column2 img{
    width: 320px;
    height: 360px;
    box-shadow: 50px 50px #E5E7EB;
}


.about{
    justify-content: space-between;
    padding: 96px 80px 96px 80px;
    background-color: #F9FAFB;
}